<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
  {% block style %}
  <title>WeCode Portal</title> 
  
  {% endblock %}
  


</head>
 

	<div id="fixedheader"> 
		<img src="../static/images/logo2.gif" style="height: 90%; width: 55%; position:absolute; margin-left: 18%">
	</div>


<body background="../static/images/background.jpg">


{% block body %}

	 
<p>My first paragraph.</p>



{% endblock%}



		<div id="fixedfooter">

		</div>

</body>
</html>

