{% extends "base.html" %}

{% block body %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.demo {cursor:pointer}
</style>
<body>


<div class="w3-content" style="max-width:1200px; position: absolue; top:20%">
  <img class="mySlides" src="../static/images/pic1.png" style="width:50%; height:50%">
  <img class="mySlides" src="../static/images/rsz_1rsz_pic2.jpg" style="width:50% ; height:50%">
  <img class="mySlides" src="../static/images/pic3.jpg" style="width:50%;  height:50%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<h1 style="position: absolute; left: 750px; top: 160px">Home Page</h1>


</body>

<!-- TODO: implement home page. -->

{% endblock %}