{% extends "base.html" %}
{% block body %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none}
.demo {cursor:pointer}
</style>
<body>


<div class="w3-content" style="max-width:1200px; position: absolute; top:25%; margin-left:5%">
  <img class="mySlides" src="../static/images/rsz_1rsz_pic2.jpg">
  <img class="mySlides" src="../static/images/pic4.jpg">
  <img class="mySlides" src="../static/images/pic5.jpg">
  <img class="mySlides" style="width:600px; height:300px"src="../static/images/pic6.jpg">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

<div id="textbox" >
<p style="position:absolute; margin-left: 15%; color:white; font-size:250%"><strong>About us</strong></p>
<p style="position: absolute; margin-left:5%; color: white; text-align: justify; margin-right: 5%; top: 27%"> 
    Code for Palestine is a three year-long program, beginning the summer before 10th grade and concluding after 12th grade. Each year has many in-person sessions but is kicked off by a two-week camp held during the summer. Volunteer undergraduate instructors from Stanford University have served as the primary teachers during the two-week summer camp. </p>
</div>


<center>
<div id="textbox1" >
<center>
<p style="position:absolute; margin-left: 15%; color:white; font-size:250%"><strong>What is Code for Palestine's purpose?</strong></p>
<p style="position: absolute; margin-left:5%; color: white; text-align: justify; margin-right: 5%; top: 35%"> 
    Code for Palestine was born in 2015 out of a desire to teach coding and entrepreneurial skills to some of the brightest high school students throughout the West Bank and Gaza Strip. The organization funding the initiative, the PalTel Group Foundation [PGF], recognized that there weren't enough students graduating from Palestinian universities in STEM fields. PGF saw an opportunity for a tech-driven startup scene to help tackle some of Palestine's problems, and realized that a culture of entrepreneurship needed to be bred in order for a startup culture to blossom. 
 </p>
</center>
</div>
</center>

<div id="textbox2" >
  <img src="../static/images/arori.jpg" style="width: 280px; height:auto; float:center; margin-left:3%">
  <br>
  <p style="color:white; text-align:justify; margin-left:30%; margin-right:30%; font size: 180%"><strong>Mohammad Arori</strong></p>

  <p style="color:white; text-align:justify; margin-left:3%; margin-right:3%"> Code for Palestine has been a game changer in my life. Coding is a skill that shapes our era as boys and girls of the z generation. learning code has opened  the door  for us to self expression by electronic means, letting us as The young generation of a challenging society to sense and achieve freedom. Thus, serve our cause of making positive change in the society we are part of.</p>
   
</div>

<div id="textbox3">
  <img src="../static/images/rsz_belal.jpg" style="width:280px; height:auto; margin-left:3%">
    <br>
  <p style="color:white; text-align:justify; margin-left:30%; margin-right:30%font size: 180%"><strong>Belal Daqqah </strong></p>
  <p style="color:white; text-align:justify; margin-left:3%; margin-right:3%">For me, WeCode was and still a life-changing experience. It has dramatically changed my interests. After putting myself through computer science world, I became moure interested in subjects such as: Mathematics and Physics because the fact that numbers can evaluate the world around is something that amazed me. In spite of that, the design thinking skills promoted in me made me able to think more effective. That's something and the second family I have is an other thing.</p>
</div>

<div id="textbox4">
  <img src="../static/images/ola.jpg" style="width:280px; height:auto; margin-left:3%">
  <br>
  <p style="color:white; text-align:justify; margin-left:30%; margin-right:30%font size: 180%"><strong>Ola Hamad</strong></p>
  <p style="color:white; text-align:justify; margin-left:3%; margin-right:3%">During the time that I have spent in we code program I got a lot of experience about computer science skills and design thinking . It effected my personality in agood way ,  improved my english skills and my confidence. </p>
</div>

<br>
<br>
<br>
<br>








<p></p>
{% endblock %}