{% extends "base.html" %}
{% block body %}

<h1> Usernames assigned to this website</h1>
h1>List Page</h1>
<table class="container">
  <tr>
    <th class ="thd">first name</th>
    <th class="thd">last name</th>
    <th class="thd">username</th>
    <th class="thd">hometwon</th>
    <th class="thd">email</th>
    <th class="thd">personal website link</th>
  </tr>
  {% for person in users %}
  <tr>
    <td class ="thd">{{person.first_name}}</td>
    <td class ="thd">{{person.last_name}}</td>
    <td class ="thd">{{person.username}}</td>
    <td class ="thd">{{person.hometown}}</td>
    <td class ="thd">{{person.email}}</td>
    <td class ="thd">{{person.personal_website}}</td>

  </tr>
  {% endfor %}
</table>
 
{% endblock %}