
    {% extends "base.html" %}
    {% block style %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log in Form</title>
        <link rel="stylesheet" href="../static/css/style2.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/style2.css">
    {% endblock %}

    {% block body %}

      <form action="/register" method="POST" enctype="multiple/form-data">
      
        <h1> Register </h1>
        
        <fieldset>
          <legend><span class="number">1</span>Your basic info</legend>

          <label> First Name:</label>
          <input type="text" name="first_name" placeholder="First Name" required>

          <label for="name">Last Name:</label>
          <input type="text"  name="last_name" placeholder= "Last Name">
          
          <label for="name"> Username:</label>
          <input type="text"  name="username" placeholder="Username">

          <label for="name"> Password:</label>
          <input type="password"  name="password" placeholder="Password">

          <label for="mail">Email:</label>
          <input type="email" name="email" pattern="[^ @]*@[^ @]*" placeholder="Enter your E-mail" required >

          <label for="name"> Hometown:</label>
          <input type="text"  name="hometown" placeholder="Where do you live?" required>       

          <label for="name"> Personal Website Link :</label>
          <input type="text"  name="personal_website" placeholder="Personal Website Link" >     

        
        </fieldset>
 
        
       
        <button type="submit">Register</button>
      </form>
      
{% endblock %}